/* Centraliza o NavBar */
.nav-wrapper ul.center {
    display: block;
    width: auto;
}

.nav-wrapper > ul.center li {
    float: none;
    display: inline-block;
}

.conter {
    margin: 0 auto;
    width: 80%;
}

/* Distância do topo do NavBar */
.lina {
    margin-top: 25px;
}

/* Cor verde do texto "Cuide..." */
#Atfooter {
    color: #ffffff;
}

#navprin {
    background: #800080;
    border-radius: 0px 0px 30px 30px;
}

/*Fonte para esse tipo de tags*/
p,
span,
h5,
h4,
li,
#Atfooter {
    font-family: 'Varela Round', sans-serif;
}

#principal {
    margin-top: 40px;
    background-color: transparent;
}

#usr {
    margin-left: -12px;
    background: #FFD700;
    border-right: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
}

.topicos {
    color: #605E5E;
}

body {
    overflow-x: hidden;
    background-color: #9400D3;
}

/*Altera cor dos botões*/
.btn1:hover {
    background: #FFD700 !important;
}

.rd1 {
    border-radius: 10px 10px 0px 0px;
}

.rd2 {
    border-radius: 10px;
}

.rd3 {
    border-top: 2px solid;
}

.rd4 {
    border-left: 2px solid;
}

.rd5 {
    background: #800080;
    border-radius: 10px 10px 0px 0px;
    border-color: white;
    border-right: 2px solid;
    border-top: 2px solid;
}

.rd6 {
    background: #800080;
    border-radius: 10px 10px 0px 0px;
    border-color: white;
    border-right: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
}
